In [1]:
import pandas as pd

In [2]:
# ładowanie danych
portfolio = pd.read_csv('przykladowe_portfolio.txt', sep=';')
wskazniki = pd.read_csv('przykladowe_wskazniki.txt', sep=';')
# usuwam jedną niepotrzebną kolumnę która mi się zrobiła przypadkowo przy tworzeniu przykładowych danych
wskazniki.drop('Unnamed: 2', inplace=True, axis=1)

In [3]:
portfolio

                nazwa  liczba_akcji  obecny_kurs
0               Adobe             2         35.0
1              Makita             3         17.0
2   21 st Century Fox             4         23.0
3           Starbucks             5         12.0
4            Facebook             7         30.0
5          BlackBerry             2         55.0
6                EBay            12         11.0
7             Netflix            15          9.0
8             Moderna             3         34.0
9         AstraZeneca             5         14.0
10              Apple             4         46.0
11             NASDAQ             1        130.0
12             Garmin            29          6.0

In [4]:
# liczę wartość posiadanych akcji każdej firmy
portfolio['wartosc'] = portfolio['liczba_akcji'] * portfolio['obecny_kurs']
# zsumowana wartość całego portfolio przy obecnym kursie 
portfolio_value = portfolio['wartosc'].sum()
print('portfolio_value', portfolio_value)
# procent wartości akcji w stosunku do wartości całego portfolio
portfolio['procent_wartosci'] = portfolio['wartosc']/portfolio_value

portfolio_value 1520.0

In [5]:
portfolio

                nazwa  liczba_akcji  obecny_kurs  wartosc  procent_wartosci
0               Adobe             2         35.0     70.0          0.046053
1              Makita             3         17.0     51.0          0.033553
2   21 st Century Fox             4         23.0     92.0          0.060526
3           Starbucks             5         12.0     60.0          0.039474
4            Facebook             7         30.0    210.0          0.138158
5          BlackBerry             2         55.0    110.0          0.072368
6                EBay            12         11.0    132.0          0.086842
7             Netflix            15          9.0    135.0          0.088816
8             Moderna             3         34.0    102.0          0.067105
9         AstraZeneca             5         14.0     70.0          0.046053
10              Apple             4         46.0    184.0          0.121053
11             NASDAQ             1        130.0    130.0          0.085526
12             Garmin            29          6.0    174.0          0.114474

In [6]:
wskazniki

    sredni_zysk  srednie_odchylenie
0         0.534               5.465
1        -1.749               6.544
2         1.837               7.734
3         0.352               6.283
4         0.163               8.365
5         0.857               4.869
6        -0.874               2.134
7        -0.632               6.674
8         1.375               5.872
9         0.386               3.985
10       -1.474               7.862
11        0.284               4.236
12        1.347               8.357

In [7]:
# łączenie tabeli portfolio z tabelą wskaźniki
portfolio = portfolio.join(wskazniki)
portfolio

,nazwa,liczba_akcji,obecny_kurs,wartosc,procent_wartosci,sredni_zysk,srednie_odchylenie
0,Adobe,2,35.0,70.0,0.046053,0.534,5.465
1,Makita,3,17.0,51.0,0.033553,-1.749,6.544
2,21 st Century Fox,4,23.0,92.0,0.060526,1.837,7.734
3,Starbucks,5,12.0,60.0,0.039474,0.352,6.283
4,Facebook,7,30.0,210.0,0.138158,0.163,8.365
5,BlackBerry,2,55.0,110.0,0.072368,0.857,4.869
6,EBay,12,11.0,132.0,0.086842,-0.874,2.134
7,Netflix,15,9.0,135.0,0.088816,-0.632,6.674
8,Moderna,3,34.0,102.0,0.067105,1.375,5.872
9,AstraZeneca,5,14.0,70.0,0.046053,0.386,3.985
10,Apple,4,46.0,184.0,0.121053,-1.474,7.862
11,NASDAQ,1,130.0,130.0,0.085526,0.284,4.236
12,Garmin,29,6.0,174.0,0.114474,1.347,8.357

In [11]:
# licze sharpe ratio
portfolio['sharpe_ratio'] = portfolio['sredni_zysk'] / portfolio['srednie_odchylenie']
portfolio

,nazwa,liczba_akcji,obecny_kurs,wartosc,procent_wartosci,sredni_zysk,srednie_odchylenie,sharpe_ratio
0,Adobe,2,35.0,70.0,0.046053,0.534,5.465,0.097713
1,Makita,3,17.0,51.0,0.033553,-1.749,6.544,-0.267268
2,21 st Century Fox,4,23.0,92.0,0.060526,1.837,7.734,0.237523
3,Starbucks,5,12.0,60.0,0.039474,0.352,6.283,0.056024
4,Facebook,7,30.0,210.0,0.138158,0.163,8.365,0.019486
5,BlackBerry,2,55.0,110.0,0.072368,0.857,4.869,0.176012
6,EBay,12,11.0,132.0,0.086842,-0.874,2.134,-0.409560
7,Netflix,15,9.0,135.0,0.088816,-0.632,6.674,-0.094696
8,Moderna,3,34.0,102.0,0.067105,1.375,5.872,0.234162
9,AstraZeneca,5,14.0,70.0,0.046053,0.386,3.985,0.096863
10,Apple,4,46.0,184.0,0.121053,-1.474,7.862,-0.187484
11,NASDAQ,1,130.0,130.0,0.085526,0.284,4.236,0.067044
12,Garmin,29,6.0,174.0,0.114474,1.347,8.357,0.161182

In [14]:
portfolio['nazwa']

0                 Adobe
1                Makita
2     21 st Century Fox
3             Starbucks
4              Facebook
5            BlackBerry
6                  EBay
7               Netflix
8               Moderna
9           AstraZeneca
10                Apple
11               NASDAQ
12               Garmin
Name: nazwa, dtype: object